#foot{
    display: flex;
    flex-grow: 5;
    background-color: rgba(120, 120, 120, 0.7);
    flex-direction: column;
    justify-content: space-around;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 420;
    font-size: 2.5vh;
    text-align: justify;
}
