#speed{
    display: flex;
    flex : 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(50, 0, 120, 0.5);
}

#speedSlider{
    width: 80%;
}
